<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Forms Manager</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="forms">Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings">Settings</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
